<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Classrom</title>
</head>

<body>

<h1>CLASSROOM:</h1>



<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
           

        </tr>
    </thead>
    <tbody>
        {% for t in response %}
            <tr>
            
                <td>{{ t.Ref }}</td>
                <td>{{ t.name }}</td>
                <td>
                 
                   
                </td>
            </tr>
        {% endfor %}
        <tr>
      
        </tr>
    </tbody>
</table>
